spring:
   profiles:
      active:
        - dev
---
server:
  port: 8201

spring:
  profiles: dev
  application:
      name: spring-cloud-config-test-client223333

eureka:
 client:
  serviceUrl:
    defaultZone: http://adminn:enjoy@localhost:7301/eureka
  register-with-eureka: false
 
info:
  app.name: spring-cloud-config-client-devdev
  company.name: enjoy
 
---
server:
  port: 8102

spring:
  profiles: beta
  application:
      name: spring-cloud-config-test-client23

eureka:
 client:
  serviceUrl:
    defaultZone: http://adminn:enjoy@localhost:7301/eureka
  register-with-eureka: false
   
info:
  app.name: spring-cloud-config-client-beta
  company.name: enjoybeta
  
  
  
